@model List<Warpgate>

@using (Ajax.BeginForm("AssimilationForm", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
    <div class="zPageHead01">
        <button id="zAddBtn" type="button" class="btn btn-primary btn-lg" title="Add row" style="float:right; margin-right:20px; margin-top:45px">Add Segment &raquo;</button>
        <h2>Assimilation</h2>
        <p class="lead">
            Build your workout.  Edit existing segments in the workout or add to it.
        </p>
    </div>
    <div class="zPageBody01">
        <table id="myTbl" class="table table-condensed nestedtablewithactions" summary="Defined Types">
            <tr>
                <th style="display:none">PK</th>
                <th style="display:none">FK</th>
                <th style="width:250px">Segment</th>
                <th style="width:150px">Duration (s)</th>
                <th style="width:95px">Sequence</th>
                <th style="width:85px">Edit</th>
                <th style="width:85px">Delete</th>
            </tr>
            @{
                int i = 0;
                int j = 0;
            }
            @foreach (var r in Model)
            {
        <tr class="visibleRow">
            <td class="pk" style="display:none">@Html.TextBoxFor(m => Model[i].Wksegpk)</td>
            <td class="fk" style="display:none">@Html.TextBoxFor(m => Model[i].Gateway.Workoutpk)</td>
            <td class="dynamicList">
                @Html.DropDownListFor(m =>  m[i].Templar.Segmentpk, Model[i].DDLSegments)
                <div class="zLabelContainer"></div>
            </td>
            <td class="zColumnSmaller">@Html.TextBoxFor(m => Model[i].Duration)</td>
            <td class="zColumnSmaller">@Html.TextBoxFor(m => Model[i].Sequence)</td>
            <td><button type="button" class="editbtn" title="Edit row">Edit</button></td>
            <td><button type="button" class="deletebtn" title="Remove row">X</button></td>
        </tr>
                i++;
            }

            @for (j = i; j < i + 50; j++)
            {
                // ugly solution until I can find something better that works
                // add invisible rows to handle addition

                Warpgate newRz = new Warpgate();
                newRz.DDLSegments = Model[0].DDLSegments;
                newRz.Gateway = Model[0].Gateway;

                Model.Add(newRz);

        <tr class="hiddenRow">
            <td class="pk" style="display:none">@Html.TextBoxFor(m => m[j].Wksegpk)</td>
            <td class="fk" style="display:none">@Html.TextBoxFor(m => m[j].Gateway.Workoutpk)</td>
            <td class="dynamicList">
                @Html.DropDownListFor(m => m[j].Templar.Segmentpk, Model[j].DDLSegments)
                <div class="zLabelContainer"></div>
            </td>
            <td>@Html.TextBoxFor(m => m[j].Duration)</td>
            <td>@Html.TextBoxFor(m => m[j].Sequence)</td>
            <td class="zColumnSmaller"><button type="button" class="editbtn" title="Edit row">Edit</button></td>
            <td class="zColumnSmaller"><button type="button" class="deletebtn" title="Remove row">X</button></td>
        </tr>
            }
        </table>
    </div>
    <div class="zPageFooter01">
        <input type="submit" class="btn btn-primary btn-lg" value="Save Changes" />
    </div>

}
