@model  List<Prophecy>

@using (Ajax.BeginForm("ProphecyForm", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
    <h2>Tips</h2>
    <button type="button" class="addbtn" title="Remove row">Add</button>
    <table id="myTbl">
        <tr>
            <th style="display:none">PK</th>
            <th>ID</th>
            <th>Text</th>
            <th>Type</th>
            <th>Custom</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{ int i = 0; int j = 0; }
        @foreach (var r in Model)
        {
            <tr class="visibleRow">
                <td class="pk" style="display:none">@Html.TextBoxFor(m => m[i].Tippk)</td>
                <td>@Html.TextBoxFor(m => m[i].Tipid)</td>
                <td>@Html.TextAreaFor(m => m[i].Text)</td>
                <td>@Html.DropDownListFor(m => m[i].Conclave.Typepk, Model[i].DDLTypes)</td>
                <td>@Html.CheckBoxFor(m => m[i].Customflg)</td>
                <td><button type="button" class="editbtn" title="Edit row">Edit</button></td>
                <td><button type="button" class="deletebtn" title="Remove row">X</button></td>
            </tr>
            i++;
        }

        @for (j = i; j < i + 20; j++)
        {
            // ugly solution until I can find something better that works
            // add invisible rows to handle additions
            var newTip = new Prophecy();

            newTip.DDLTypes = Model[0].DDLTypes;

            Model.Add(newTip);

            <tr class="hiddenRow">
                <td class="pk" style="display:none">@Html.TextBoxFor(m => m[j].Tippk)</td>
                <td>@Html.TextBoxFor(m => m[i].Tipid)</td>
                <td>@Html.TextAreaFor(m => m[i].Text)</td>
                <td>@Html.DropDownListFor(m => m[i].Conclave.Typepk, Model[i].DDLTypes)</td>
                <td>@Html.CheckBoxFor(m => m[i].Customflg)</td>
                <td><button type="button" class="editbtn" title="Edit row">Edit</button></td>
                <td><button type="button" class="deletebtn" title="Remove row">X</button></td>
            </tr>
        }
        <tr name="submitRow">
            <td colspan="6"><input type="submit" value="Save Changes" /></td>
        </tr>
    </table>
}

