@model  List<Segments>

@using (Ajax.BeginForm("Form4", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"
}))
{
    <h2>Segments</h2>
    <button type="button" class="addbtn" title="Remove row">Add</button>
    <table id="myTbl" class="table table-condensed nestedtablewithactions" summary="Defined Types">
        <tr>
            <th style="display:none">PK</th>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Intensity</th>
            <th>Custom</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{ int i = 0; int j = 0; }
        @foreach (var r in Model)
        {
            <tr class="visibleRow">
                <td class="pk" style="display:none">@Html.TextBoxFor(m => m[i].Segmentpk)</td>
                <td>@Html.TextBoxFor(m => m[i].Segmentid)</td>
                <td>@Html.TextBoxFor(m => m[i].Name)</td>
                <td>@Html.DropDownListFor(m => m[i].Types.Typepk, Model[i].DropDownList)</td>
                <td>
                    @Html.RadioButtonFor(m => m[i].Intensity, 1)
                    @Html.RadioButtonFor(m => m[i].Intensity, 2)
                    @Html.RadioButtonFor(m => m[i].Intensity, 3)
                    @Html.RadioButtonFor(m => m[i].Intensity, 4)
                    @Html.RadioButtonFor(m => m[i].Intensity, 5)
                </td>
                <td>@Html.CheckBoxFor(m => m[i].Customflg)</td>
                <td><button type="button" class="editbtn" title="Edit row">Edit</button></td>
                <td><button type="button" class="deletebtn" title="Remove row">X</button></td>
            </tr>
            i++;
        }

        @for (j = i; j < i + 20; j++)
        {
            // ugly solution until I can find something better that works
            // add invisible rows to handle additions
            var newSeg = new Segments();

            newSeg.DropDownList = Model[0].DropDownList;

            Model.Add(newSeg);

            <tr class="hiddenRow">
                <td class="pk" style="display:none">@Html.TextBoxFor(m => m[j].Segmentpk)</td>
                <td>@Html.TextBoxFor(m => m[j].Segmentid)</td>
                <td>@Html.TextBoxFor(m => m[j].Name)</td>
                <td>@Html.DropDownListFor(m => m[j].Types.Typepk, Model[j].DropDownList)</td>
                <td>
                    @Html.RadioButtonFor(m => m[j].Intensity, 1)
                    @Html.RadioButtonFor(m => m[j].Intensity, 2)
                    @Html.RadioButtonFor(m => m[j].Intensity, 3)
                    @Html.RadioButtonFor(m => m[j].Intensity, 4)
                    @Html.RadioButtonFor(m => m[j].Intensity, 5)
                </td>
                <td>@Html.CheckBoxFor(m => m[j].Customflg)</td>
                <td><button type="button" class="editbtn" title="Edit row">Edit</button></td>
                <td><button type="button" class="deletebtn" title="Remove row">X</button></td>
            </tr>
        }
        <tr name="submitRow">
            <td colspan="7"><input type="submit" value="Save Changes" /></td>
        </tr>
    </table>
}

