@model TrainerPalBuddyFriend3.Types
<script scr="@Url.Content(" ~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script scr="@Url.Content(" ~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<h4 id="id1" style="color:purple"></h4>
<hr />
<h3><b>Create new Activity Type</b></h3>
@using (Ajax.BeginForm("Form3", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "id1",
    LoadingElementId = "LoadingImage",
    OnSuccess = "onSuccess_Message",
    OnFailure = "onFailure_Message"

}))
{
<table>
    <tr>
        <td>Type ID: </td>
        <td>@Html.TextBoxFor(m => m.Typeid)</td>
    </tr>
    <tr>
        <td>Type Name: </td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Custom: </td>
        <td>0 @Html.RadioButtonFor(m => m.Custom, 0)</td>
        <td>1 @Html.RadioButtonFor(m => m.Custom, 1)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Submit Form" /></td>
    </tr>
</table>
<div id="LoadingImage" style="display:none">Loading...</div>
<div id="onSuccess_Message"></div>
<div id="onFailure_Message"></div>
}

